# Neo4j Database Configuration
NEO4J_URL=your_neo4j_url
NEO4J_DATABASE=your_neo4j_database_name
NEO4J_USERNAME=your_neo4j_username
NEO4J_PASSWORD=your_neo4j_password

# Gemini API Key
GEMINI_API_KEY=your_gemini_api_key

# Huggingface token
HUGGING_FACE_HUB_TOKEN=your_huggingface_token
HF_HOME=./.hf_cache

# GenAI Client Configuration
GENAI_VERTEXAI=true
GENAI_PROJECT=your_gcp_project_id
GENAI_LOCATION=us-central1

# LLM Provider Configuration
LLM_PROVIDER=genai
# LLM_PROVIDER=openrouter