# Neo4j Database Configuration
NEO4J_URL=""
NEO4J_DATABASE=""
NEO4J_USERNAME=""
NEO4J_PASSWORD=""

# Gemini API Key
GEMINI_API_KEY=""

# Huggingface token
HUGGING_FACE_HUB_TOKEN=""
HF_HOME=./.hf_cache